@import './fira_code/fira_code.css';
@import './inter/inter.css';

body {
    font:           400 16px/1.5 'Inter';
    margin:         0;
	padding:        0;
	border:         0;
	vertical-align: baseline;
}

.remark-inline-code, .remark-code {
    font-family:  "Fira Code";
    color:         #586e75;
}

a .remark-inline-code {
    color: #268bd2;
}

.remark-code {
    border-radius: 5px;
    white-space:   pre-wrap;       /* CSS 3 */
    white-space:   -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space:   -pre-wrap;      /* Opera 4-6 */
    white-space:   -o-pre-wrap;    /* Opera 7 */
    word-wrap:     break-word;       /* Internet Explorer 5.5+ */
}

.remark-slide-content, .remark-slide-container {
    background: #ecf0f4;
}

.remark-slide-scaler {
    box-shadow: none;
}

h1, h2, h3, .section {
    color:       #111111;
    line-height: 100%;
}

.super {
    vertical-align: super;
    font-size:      .5em;
}

.section {
    font-weight: bold;
}

.section::after {
    content: ":";
}

h2 {
    margin: 32px 0;
    font-weight: 100;
}

a {
    color:           #111111;
    text-decoration: none;
}

blockquote {
  background:                 #f9f9f9;
  border-left:                10px solid #dfdedc;
  margin:                     1.5em 10px;
  padding:                    0.5em 10px;
  quotes:                     "\201C""\201D""\2018""\2019";
  color:                      #5f5e5c;
  border-top-right-radius:    5px;
  border-bottom-right-radius: 5px;
}

blockquote p {
  display: inline;
}

table {
    border-collapse: collapse;
    background:      #fff;
    width:           100%;
}

th {
    background: #2980b9;
    color:      #ecf0f4;
}

th, td {
    border:     1px solid #ecf0f4;
    padding:    5px 10px 5px 10px;
    text-align: center
}

/** Relatively nasty fix to fix cell width when a table appears bit by bit. */

.fix2 td, .fix2 th  {
  width: 50%;
}

.fix3 td, .fix3 th  {
  width: 33%;
}


th:empty, td:empty {
    background: #ecf0f4;
    padding:    0;
    width:      4px;
}

th .remark-inline-code {
    border:        none;
    background:    none;
    color:         #fff;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

.foreground {
    float: right;
    position: absolute;
    right: -200px;
    top: -100px;
}

.remark-slide-number {
    display: none;
}

.remark-code-span-highlighted, .remark-code-line-highlighted, .highlight {
    padding         : 0;
    background-color: #ffca40;
}

.highlight {
    padding-bottom  : 1px;
}

.highlight .remark-inline-code, .highlight .remark-code {
    color:         inherit;
    background:    inherit;
    border:        1px solid #52f2c5;
    padding-bottom: 0;
}

.annotated img {
    float   : right;
    position: absolute;
    right   : 100px;
    top     : 100px;
}

img {
    max-width: 100%;
}

.diff-rm .remark-code-span-highlighted, .highlight {
    background-color: #fdb8c0;
}

.diff-rm .remark-code-line-highlighted {
    background-color: #ffeef0;
    position: relative;
}

.diff-add .remark-code-span-highlighted, .highlight {
    background-color: #acf2bd;
}

.diff-add .remark-code-line-highlighted {
    background-color: #e6ffed;
    position: relative;
}
